{% extends "base.html" %}

{% block content %}

    <div class="well">
        <h1>Django Breviare</h1>
        <p>The django-breviare application for URL Shortening </p>
        <p><a class="btn btn-primary" href="https://github.com/jesiah-hackinglife/django-breviare/">Check it out on GitHub &raquo;</a></p>
    </div>

    <div class="row">
   		<div class="well">
	    <div id="form-holder" class="span11">
			<form action="/shorten/" method="get">
			    {% csrf_token %}
			<div style="float:left; margin-right:5px;">
			  <input type="text" placeholder="your url here" name="link">
			</div> 
			    <div class="actions" style="float:left">
			        <button type="submit" class="btn primary">Shorten</button>
			    </div>
				<div id="result" style="float:left; margin-left:100px; margin-top:5px"><a href="{{short_url}}">{{short_url}} </a></div>
			</form>
		
			</div>
			
		</div>
    </div>

    <p>Coding is sooo much fun </p>

{% endblock %}